
obj/Release/MoreIngots.csproj.CoreCompileInputs.cache
obj/Debug/MoreIngots.pdb
obj/Debug/MoreIngots.dll
obj/Debug/MoreIngots.csprojResolveAssemblyReference.cache
obj/Debug/MoreIngots.csproj.FileListAbsolute.txt
obj/Debug/MoreIngots.csproj.CoreCompileInputs.cache
obj/Debug/MoreIngots.csproj.CopyComplete
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
bin/Debug/Utilites.xml
bin/Debug/Utilites.dll
bin/Debug/UnityEngine.UI.dll
bin/Debug/UnityEngine.dll
bin/Debug/SMLHelper.dll
bin/Debug/QModInstaller.dll
bin/Debug/Poly2Tri.dll
bin/Debug/Newtonsoft.Json.dll
bin/Debug/MoreIngots.pdb
bin/Debug/Mono.Cecil.dll
bin/Debug/LumenWorks.dll
bin/Debug/LitJson.dll
bin/Debug/LibNoise.dll
bin/Debug/iTween.dll
bin/Debug/Assembly-CSharp.dll
bin/Debug/Assembly-CSharp-firstpass.dll
bin/Debug/0Harmony.dll
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/MoreIngots/v15/Server/sqlite3/storage.ide-wal
.vs/MoreIngots/v15/Server/sqlite3/storage.ide-shm
.vs/MoreIngots/v15/Server/sqlite3/storage.ide
.vs/MoreIngots/v15/Server/sqlite3/db.lock
.vs/MoreIngots/v15/.suo
