
obj/Release/MoreIngots.csproj.CoreCompileInputs.cache
obj/Debug/MoreIngots.pdb
obj/Debug/MoreIngots.dll
obj/Debug/MoreIngots.csprojResolveAssemblyReference.cache
obj/Debug/MoreIngots.csproj.FileListAbsolute.txt
obj/Debug/MoreIngots.csproj.CoreCompileInputs.cache
obj/Debug/MoreIngots.csproj.CopyComplete
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
bin/Debug/Utilites.xml
bin/Debug/Utilites.dll
bin/Debug/UnityEngine.UI.dll
bin/Debug/UnityEngine.dll
bin/Debug/SMLHelper.dll
bin/Debug/QModInstaller.dll
bin/Debug/Poly2Tri.dll
bin/Debug/Newtonsoft.Json.dll
bin/Debug/MoreIngots.pdb
bin/Debug/Mono.Cecil.dll
bin/Debug/LumenWorks.dll
bin/Debug/LitJson.dll
bin/Debug/LibNoise.dll
bin/Debug/iTween.dll
bin/Debug/Assembly-CSharp.dll
bin/Debug/Assembly-CSharp-firstpass.dll
bin/Debug/0Harmony.dll
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/MoreIngots/v15/Server/sqlite3/storage.ide-wal
.vs/MoreIngots/v15/Server/sqlite3/storage.ide-shm
.vs/MoreIngots/v15/Server/sqlite3/storage.ide
.vs/MoreIngots/v15/Server/sqlite3/db.lock
.vs/MoreIngots/v15/.suo
MoreIngots.sln
Unity/New Unity Project/UnityPackageManager/manifest.json
Unity/New Unity Project/ProjectSettings/UnityConnectSettings.asset
Unity/New Unity Project/ProjectSettings/TimeManager.asset
Unity/New Unity Project/ProjectSettings/TagManager.asset
Unity/New Unity Project/ProjectSettings/QualitySettings.asset
Unity/New Unity Project/ProjectSettings/ProjectVersion.txt
Unity/New Unity Project/ProjectSettings/ProjectSettings.asset
Unity/New Unity Project/ProjectSettings/Physics2DSettings.asset
Unity/New Unity Project/ProjectSettings/NetworkManager.asset
Unity/New Unity Project/ProjectSettings/NavMeshAreas.asset
Unity/New Unity Project/ProjectSettings/EditorBuildSettings.asset
Unity/New Unity Project/ProjectSettings/ClusterInputManager.asset
Unity/New Unity Project/Assembly-CSharp-Editor.csproj
Unity/New Unity Project/Assets/AssetBundles/AssetBundles.manifest
Unity/New Unity Project/Assets/AssetBundles/AssetBundles.meta
Unity/New Unity Project/Assets/AssetBundles/AssetBundles.meta
Unity/New Unity Project/Assets/AssetBundles/moreingots
Unity/New Unity Project/Assets/AssetBundles/AssetBundles.manifest.meta
Unity/New Unity Project/Assets/AssetBundles/moreingots.manifest.meta
Unity/New Unity Project/Assets/AssetBundles/moreingots.manifest
Unity/New Unity Project/Assets/Editor/CreateAssetBundles.cs
Unity/New Unity Project/Assets/Editor.meta
Unity/New Unity Project/Assets/Editor/CreateAssetBundles.cs.meta
Unity/New Unity Project/Assets/MICopper.png.meta
Unity/New Unity Project/Assets/etc.meta
Unity/New Unity Project/Assets/MIGold.png
Unity/New Unity Project/Assets/MIDiamond.png.meta
Unity/New Unity Project/Assets/MIKyanite.png.meta
Unity/New Unity Project/Assets/MIKyanite.png
Unity/New Unity Project/Assets/MILead.png.meta
Unity/New Unity Project/Assets/MILead.png
Unity/New Unity Project/Assets/MILithium.png.meta
Unity/New Unity Project/Assets/MIMagnetite.png
Unity/New Unity Project/Assets/MIDiamond.png
